*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# Can ignore specific files
.DS_Store
.metadata
.project
.recommenders
.classpath
.prefs
.settings
.db

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
